header {      
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.nav-list { padding: 0;        
    width: 100%;
    margin: 0 auto;
}

.nav-list li { 
    display: inline-block;         
    width: 20%;
    font-size: 22px;         
    text-align: center;
    vertical-align:top;
}

.nav-text { 
  font-family: Arial, Helvetica, sans-serif;
}

.video-container {
    display: inline-block;
    width: 100%;
    columns: 3;
}

.centered-div {
    margin: auto;
    text-align: center;
    width: 97%;
    border: 3px solid green;
    padding: 1%;
}

.centered-div-no-align {
  margin: auto;
  width: 97%;
  border: 3px solid green;
  padding: 1%;
}

.centered-div video {
    display: inline-block;
}

.centered-div div {
    display: inline-block;
}

.sticky-header {
    width: auto;
    margin: auto;
    padding: 10px 16px;
    position: sticky;
    text-align: center;
    top: 0;
    background: #ece9e9;
    z-index: 50;
}

.sticky-nav-text {
    font-size: medium;
}



.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.flex-sapce {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
  position: relative;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.flex-item-right img {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sticky-header + section {
  margin-top: 10px
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.scroll {
  background-color: #fed9ff;
  width: var(--width);
  height: var(--height);
  overflow: auto;
  text-align: justify;
  padding: 20px;
}
