.rounded-button {
	background-color:#118cdf;
	border-radius:28px;
	border:1px solid #0482bd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:0px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.rounded-button:hover {
	background-color:#163eec;
}

.rounded-button:active {
	position:relative;
	top:1px;
}

.centered-div {
    margin: auto;
    text-align: center;
    width: 90%;
    border: 3px solid green;
    /* padding: 1%; */
}

.centered-div video {
    display: inline-block;
}

.centered-div div {
    display: inline-block;
}

.flex-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 49%;
}

.flex-item-right {
  flex: 49%;
  position: relative;
}

.separator-div {
  --width: 20%;
  width: var(--width);
}


@media (max-width: 1000px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
  .separator-div {
    --width: calc(var(--width) / 10);
  }
  .scroll {
    font-size: x-small;
  }
}

.flex-item-right img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.sticky-header + section {
  margin-top: 10px
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.scroll {
  /* background-color: #fed9ff; */
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 50px;
  width: var(--width);
  height: var(--height);
  overflow: auto;
  text-align: center;
  padding: 20px;
  font-size: medium;
}

.clock-img {
  height: auto;
  width: 100%;
}

.app-market-img {
  width: 100%;
}
