.rounded-button {
	background-color:#118cdf;
	border-radius:28px;
	border:1px solid #0482bd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:0px 10px;
	text-decoration:none;
}

.rounded-button:hover {
	background-color:#163eec;
}

.rounded-button:active {
	position:relative;
	top:1px;
}

.centered-div {
    margin: auto;
    text-align: center;
    width: 90%;
    /* border: 3px solid green; */
    /* padding: 1%; */
}

.centered-div video {
    display: inline-block;
}

.flex-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 49%;
}

.flex-item-right {
  flex: 49%;
  position: relative;
}

.separator-div {
  --width: 20%;
  width: var(--width);
}

.augment-width-mobile {
  width: var(--width);
}


@media (max-width: 1000px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
  .separator-div {
    --width: calc(var(--width) / 10);
  }
  .scroll {
    font-size: x-small;
  }
  .augment-width-mobile{
    --width: 100% !important;
  }
}


.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.scroll {
  /* background-color: #fed9ff; */
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 50px;
  width: var(--width);
  height: var(--height); /* Do with variables in case we need another scroll elsewhere with different sizing */
  overflow: auto;
  text-align: center;
  padding: 20px;
  font-size: medium;
}

.clock-img {
  height: auto;
  width: 100%;
}

.app-market-img {
  width: 100%;
}

.emphasized-text {
  font-size: 500%;
}

.useful-link {
  color: rgb(73, 71, 71) !important; /* Important here so that it overrides the global.css value (apparently to use sparingly as it is of last resort (which is kind of the case here)) */
  font-size: medium;
}
